@{
    ViewData["Title"] = "Help";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<h2>Ask a question</h2>
<p>Firstly ensure that your question is not in the list of questions below</p>
<p>My Question</p>
<p>----test----</p>
<p>button to send</p>
<h2>Most popular questions</h2>
<ul>
    <li>
        <strong>Question1?</strong>Answer...
    </li>
    <li>
        <strong>Question2?</strong>Answer...
    </li>
    <li>
        <strong>Question3?</strong>Answer...
    </li>
</ul>